.masthead {
    height: 90vh;
    min-height: 500px;
    /* background-image: url("https://source.unsplash.com/WEQbe2jBg40/600x1200"); */
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
